{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="{% static 'pizza/home/css/style.css' %}" />
</head>
<body>
    <div class="wrapper">
        <section class="page_section_1">
            <div class="section1_container container">
                <div class="home">
                    <div class="home_text">
                        <div class="name"><span class="iaib">IAIB</span><br>E-PIZZA</div>
                        <div class="name_description">Ullamcorper malesuada proin libero nunc. Id semper risus in hendrerit gravida. Vulputate sapien nec sagittis aliquam malesuada bibendum.</div>
                        <a href="#" class="view_menu_btn">
                            <div class="button">VIEW MENU</div>
                        </a>
                    </div>
                    <div class="home_image">
                        <img src="{% static 'pizza/home/images/home_page.jpg' %}" alt="man_with_pizza">
                    </div>
                </div>
                <div class="home_pizza_images">
                    <img src="{% static 'pizza/home/images/pizza1_main.jpg' %}" alt="pizza1">
                    <img src="{% static 'pizza/home/images/pizza2_main.jpg' %}" alt="pizza2">
                    <img src="{% static 'pizza/home/images/pizza3_main.jpg' %}" alt="pizza3">
                    <img src="{% static 'pizza/home/images/pizza4_main.jpg' %}" alt="pizza4">
                </div>
            </div>
        </section>
        <section class="page_section_2">
            <div class="section2_container container">
                <div class="pizza_of_the_month">
                    <div class="pizza_of_the_month_title">Pizza Of The Month</div>
                    <div class="pizza_of_the_month_name">Winter Pizza</div>
                    <div class="pizza_of_the_month_text">When the weather gets colder, give pizza night a comfort food edge with this recipe.</div>
                    <a href="#" class="pizza_of_the_month_btn">
                        <div class="button">VIEW MENU</div>
                    </a>
                </div>
                <div class="pizza_of_the_month_image">
                    <img src="{% static 'pizza/home/images/month_pizza1.jpg' %}" alt="pizza_of_the_month">
                </div>
            </div>
        </section>
    </div>
</body>
</html>
