{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'pizza/css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <section class="page_section_1">
            <div class="section1_container container">
                <div class="home">
                    <div class="home_text">
                        <div class="name"><span class="iaib">IAIB</span><br>E-PIZZA</div>
                        <div class="name_description">Ulllamcorper malesuada proin libero nunc. Id semper risus in hendrerit gravida. Vulputate sapien nec sagittis aliquam malesuada bibendum.</div>
                        <a href="#" class="view_menu_btn">
                            <div class="button">VIEW MENU</div>
                        </a>
                    </div>
                    <div class="home_image">
                        <img src="{% static 'pizza/images/home_page.jpg' %}" alt="man_with_pizza">
                    </div>
                </div>
                <div class="home_pizza_images">
                    <img src="{% static 'pizza/images/pizza1_main.jpg' %}" alt="pizza1">
                    <img src="{% static 'pizza/images/pizza2_main.jpg' %}" alt="pizza2">
                    <img src="{% static 'pizza/images/pizza3_main.jpg' %}" alt="pizza3">
                    <img src="{% static 'pizza/images/pizza4_main.jpg' %}" alt="pizza4">
                </div>
            </div>
        </section>
    </div>
</body>
</html>