{% load static %}
<nav class="navbar">
  <div class="navbar_container container">
    <div class="nav_logo_item">
      <img src="{% static 'pizza/navbar/images/logo.jpg' %}" alt="logo">
    </div>
    <div class="nav_items">
      <a href="{% url 'home' %}" class="nav_home_item">Home</a>
      <div class="nav_menu_item">
        <button class="nav_menu_item_button">Menu</button>
        <div class="dropdown-content">
          <a href="{% url 'pizza' %}">Pizza</a>
          <a href="{% url 'burger' %}">Burgers</a>
          <a href="{% url 'drinks' %}">Drinks</a>
        </div>
      </div>
      <a href="#" class="nav_cart_item">Cart</a>
    </div>
  </div>
</nav>
