@import "_nullstyle.scss";
@import "_fonts.scss";


// $color2: #db545a;

body {
    font-family: $fwOS;
    color: #000;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0px 5px;
}
.cart {
    label {
        display: none;
    }
    img {
        height: 140px;
        width: 140px;
    }
    margin-top: 50px;
    font-family: $fwR;
    font-size: 20px;
    line-height: 110%;
}
.cart_container {
}
.container {
}
.cart_header {
    display: flex;
    align-items: center;
    height: 45px;
}
.cart_header_product {
    width: 60%;
}
.cart_header_price {
    width: 10%;
}
.cart_header_quantity {
    width: 10%;
}
.cart_header_subtotal {
    width: 10%;
}
.cart_header_delete {
    width: 10%;
}
.cart_items {
    margin-bottom: 30px;
}
.cart_item {
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.cart_item_product {
    width: 60%;
    display: flex;
    align-items: center;
}
.cart_item_delete {
    background-color: #db545a;
    color: white;
    border-radius: 50%;
    padding: 8px;
    font-size: 25px;
    margin: 0 15px;
    font-weight: 700;
    transition: all 0.3s ease 0s;
    &:hover {
        background: black;
        color: #db545a;
    }
}
.cart_item_name {
    margin-left: 15px;
}
.cart_item_price {
    width: 10%;
}
.cart_item_quantity {
    display: flex;
    width: 10%;
    button {
        border: None;
        align-self: center;
        color: black;
        width: 25px;
        height: 25px;
        background: #db545a;
        font-weight: 700;
        &:hover {
            border: 2px solid black;
            background: #db545a;
        }
    }
}
.minus_count {
    margin-right: 10px;
}
.cart_item_quantity_number {
    font-size: 25px;
    margin-top: 2px;
}
.plus_count {
    margin-left: 10px;
}
.cart_item_subtotal {
    width: 10%;
}
.cart_continue_update {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.cart_continue_shopping {
    align-self: center;
}
.cart_continue_shopping_arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.cart_continue_shopping_text {
    color: black;
}
.cart_update_cart {
    margin-right: 10%;
}
.cart_update_cart_button {
    display: flex;
    color: white;
    font-size: 18px;
    font-family: $fwOSB;
    font-weight: 700;
    line-height: 200%;
    height: 54px;
    background: #db545a;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 180px;
    transition: all 0.3s ease 0s;
    &:hover {
        background: black;
        color: #db545a;
    }
}
.cart_total {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cart_total_promotion {
    max-width: 500px;
    margin-bottom: 20px;
}
.cart_total_promotion_title {
    margin-bottom: 20px;
    font-size: 24px;
}
.cart_total_promotion_form {
    display: flex;
    input {
        width: 300px;
    }
}
.cart_total_promotion_code {
    font-size: 20px;
    padding-left: 10px;
}
.cart_total_promotion_button {
    display: flex;
    color: white;
    font-size: 18px;
    font-family: $fwOSB;
    font-weight: 700;
    line-height: 200%;
    height: 54px;
    background: #db545a;
    justify-content: center;
    align-items: center;
    width: 200px;
    border: None;
    transition: all 0.3s ease 0s;
    &:hover {
        background: black;
        color: #db545a;
    }
}
.cart_total_price {
    max-width: 500px;
    margin-right: 10%;
}
.cart_total_price_title {
    margin-bottom: 20px;
    font-size: 24px;
}
.cart_total_price_table {
    border-collapse: collapse;
    th, td {
        padding-left: 10px;
        height: 40px;
        width: 300px;
        text-align: start;
    }
    margin-bottom: 15px;
}
.cart_total_button {
    display: flex;
    justify-content: end;
}
.cart_total_checkout_button {
    justify-self: end;
    display: flex;
    color: white;
    font-size: 18px;
    font-family: $fwOSB;
    font-weight: 700;
    line-height: 200%;
    height: 54px;
    background: #db545a;
    justify-content: center;
    align-items: center;
    width: 220px;
    border: None;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    &:hover {
        background: black;
        color: #db545a;
    }
}

.cart_empty {
    margin-top: 180px;
    text-align: center;
}
.cart_empty_title {
    font-weight: 700;
    font-size: 30px;
    margin: 30px 0;
}
.cart_empty_text {
    font-size: 24px;
    margin-bottom: 30px;
}
.cart_empty_button {
    margin: 0 auto;
    display: flex;
    color: white;
    font-size: 18px;
    font-family: $fwOSB;
    font-weight: 700;
    line-height: 200%;
    height: 54px;
    background: #db545a;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    width: 240px;
    border: None;
    transition: all 0.3s ease 0s;
    &:hover {
        background: black;
        color: #db545a;
    }
}

@media (max-width:768px) {
    .cart_header {
        display: flex;
        align-items: center;
        height: 45px;
    }
    .cart_header_product {
        width: 30%;
    }
    .cart_header_price {
        width: 17.5%;
    }
    .cart_header_quantity {
        width: 17.5%;
    }
    .cart_header_subtotal {
        width: 17.5%;
    }
    .cart_header_delete {
        width: 17.5%;
    }
    .cart_item {
        margin-top: 15px;
        display: flex;
        align-items: center;
    }
    .cart_item_product {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .cart_item_name {
        margin: 10px 0 0 0;
    }
    .cart_item_price {
        width: 17.5%;
    }
    .cart_item_quantity {
        width: 17.5%;
    }
    .cart_item_subtotal {
        width: 17.5%;
    }
}
@media (max-width:594px) {
    .cart_item_product {
        img {
            display: None;
        }
    }
    .cart_total_promotion_form {
        flex-direction: column;
    }
    .cart_total_promotion_code {
        margin-bottom: 20px;
        height: 50px;
    }
    .cart_total_button {
        justify-content: start;
    }
}

@media (max-width:462px) {
    .cart_header_product {
        width: 20%;
    }
    .cart_header_price {
        width: 20%;
    }
    .cart_header_quantity {
        width: 20%;
    }
    .cart_header_subtotal {
        width: 20%;
    }
    .cart_header_delete {
        display: none;
    }
    .cart_item_product {
        width: 20%;
    }
    .cart_item_name {
        margin: 0;
    }
    .cart_item_price {
        width: 20%;
    }
    .cart_item_quantity {
        width: 20%;
    }
    .cart_item_subtotal {
        width: 20%;
    }
}

@media (max-width:375px) {
    .cart_header_product {
        margin-right: 10px;
    }
    .cart_header_quantity {
        margin-right: 20px;
    }
}