<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'pizza/menu/css/style.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'pizza/navbar/css/style.css' %}" />
    <title>{{ title }}</title>
</head>
<body>
    <div class="wrapper">
        {% include "pizza/navbar.html" %}
        <div class="container">
            <div class="header">{{ title }}</div>
        </div>
        <div class="menu">
            <div class="menu_container container">
                <div class="menu_content">
                    {% for d in drinks %}
                    <div class="menu_item">
                        <div class="menu_item_img">
                            <img src="{% static d.get_image_dir %}" alt="pizza">
                        </div>
                        <div class="menu_item_title">{{ d.name }}</div>
                        <div class="menu_item_description">{{ d.ml }}</div>
                        <div class="menu_item_price">{{ d.price }} €</div>
                        <a href="#" class="menu_button">
                            <div id="{{ p.id }}" class="add_to_cart">ADD TO CART</div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>